<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    @RenderSection("styles", required: false)
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
</head>
<style>
    @if (Context.Request.Cookies["theme"] == "dark")
    {
        @:.card{
           @: background: #474a51 !important;  }  
           @:*{color: white;}      
           @:.btn-success{background: #1bb76e !important}
           @: .container, #size , #wrapper{background: #2e3035 !important;}
              @: #size1{background: #1d1d1d !important; border: none !important}
                 @: input, textarea, select, select option {background: #2e3035 !important; color: white !important;}
                    @: .drag{background: #2e3035; color: white !important;border-color: white !important;}
                       @: #searchString{background: black !important;}
    }
    else
    {
        @:.card{
           @: background: white !important; }
                                  @:  #wrapper{background: white !important;}
                                      @: .theme-white{background: white !important;}
    }
    
</style>

<body style="background: @if (Context.Request.Cookies["theme"] == "dark") {
     @:#1d1d1d
 }else{ 
     @: #c0eb75 
      }   
">
    <!--Main Navigation-->
    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark  d-flex scrolling-navbar" style="background: black; height:70px;">
            <a class="navbar-brand" href="#"><strong>Itransition</strong></a>

            <!-- Search form -->
            <form class="form-inline d-flex" style="flex: 1">
                <div class="md-form my-0 d-flex" style="flex: 1">
                    <input class="form-control mr-sm-2" type="Search" onkeyup="search(event)" placeholder="@Localizer["Search"]" aria-label="Search" id="searchString" style="flex: 1">
                </div>
            </form>
            <div class="bg-light searchResult" style="position: absolute; top:70px; left: 136px;">

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item align-items-center d-lg-none d-flex">
                        <a class="mr-2 nav-link">ADMIN</a>
                        <div class="bg-dark rounded-circle mr-3" style="width: 40px;height: 40px"></div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Home"] </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Profile" asp-action="Index" asp-route-userName="@User.Identity.Name">@Localizer["MyPage"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Collection" asp-route-userName="@User.Identity.Name">My collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My items</a>
                        </li>






                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Users" asp-action="Index" asp-route-userName="@User.Identity.Name">@Localizer["Admin"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="ChangeTheme" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">
                                @if (Context.Request.Cookies["theme"] == "light")
                                {
                                    @: <i class="far fa-sun"></i>
                                }
                                else
                                {
                                    @: <i class="far fa-moon"></i>
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            
                                
                            <form asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">
                                <button type="submit" class="btn btn-success rounded py-1" name="culture" value="ru">ru</button>
                                <button type="submit" class="btn btn-success rounded py-1" name="culture" value="en">en</button>
                            </form>
                                    
                               
                                
                        </li>

                    }

                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item align-items-center d-lg-flex d-none">
                            <span class="mr-2 text-white" style="color: white !important;">@User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-danger m-0" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item align-items-center d-lg-flex d-none">
                            <div class="btn-group">
                                <form asp-controller="Account" method="get">
                                    <button type="submit" class="btn btn-success m-0" asp-controller="Account" asp-action="Login">@Localizer["Login"]</button>
                                    <button type="submit" class="btn btn-warning m-0" asp-controller="Account" asp-action="Register">@Localizer["Register"]</button>
                                </form>
                            </div>
                        </li>

                    </ul>
                }

            </div>
        </nav>

    </header>


    <div class="container-fluid" id="container" style="margin-top: 70px;">

        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    function search(event) {
        $(".searchResult").empty();
        var elem = event.target;
        var val = $(elem).val();
        $.ajax({
            url: "/Item/Search",
            data: {
                val: val
            },
            success: function(result){



                var item = JSON.parse(result);
                console.log(item);
                var width = $('.navbar-brand').css('width');
                for (var j = 0; j < 3; j++) {
                    for (var i = 0; i < item[j].length; i++) {
                        console.log(item[j][i].Type);
                        if (item[j][i].Type == "Comment") {
                            $(".searchResult").prepend('<a href="/Item/Item/?itemId=' + item[j][i].ItemId + '"><p>' + item[j][i].Type + " : " + item[j][i].Text + '</p> </a>');
                        } else if (item[j][i].Type == "Item") {
                            $(".searchResult").prepend('<a href="/Item/Item/?itemId=' + item[j][i].Id + '"><p>' + item[j][i].Type + " : " + item[j][i].Title + '</p> </a>');
                        } else {
                            $(".searchResult").prepend('<a href="/Collection/Collection/?collectionId=' + item[j][i].Id + '"><p>' + item[j][i].Type + " : " + item[j][i].Title + '</p> </a>');
                        };
                    }
                }
                
                
            }
        });
        
        
        
    }
</script>