@model LastTask1.ViewModels.AdminPanelViewModel
@{
    ViewBag.Title = "Список пользователей";
}

    <link href="~/css/LoginRegister.css" rel="stylesheet" />
    <div class="container p-0">
        <table id="dtMaterialDesignExample" class="table table-striped bg-dark  m-0 p-0" cellspacing="0" width="100%" >
            <thead class="w-100 bg-info">
                <tr class="bg-dark text-white w-100">
                    <th class="th-sm">
                        Id
                    </th>
                    <th class="th-sm">
                        UserName
                    </th>
                    <th class="th-sm">
                        Role
                    </th>                   
                </tr>
            </thead>
            <tbody @if (Context.Request.Cookies["theme"] == "dark") {@: style = "color: black !important;"
                   }>
        @foreach (var user in Model.Users)
                {
                <tr @if (user.UserName == User.Identity.Name) {
                    @: class="bg-success" 
                    } else {
                @:  class="bg-white"
                }
                    >
                    <th class="th-sm">
                        @user.Id
                    </th>
                    <th class="th-sm">
                        @user.UserName
                    </th>

                    <th class="th-sm">
                        <p class="font-weight-bold text-black-50">@user.Role</p>

                        @if (user.Role == "user")
                        {
                            <a  asp-controller="Users" asp-action="ChangeRole" asp-route-role="admin" asp-route-userName="@user.UserName">Set admin</a>
                        }
                        else
                        {
                            <a  asp-controller="Users" asp-action="ChangeRole" asp-route-role="user" asp-route-userName="@user.UserName">Set user</a>
                        }
                    </th>
                    <th class="th-sm">
                        <a asp-action="Delete" asp-controller="Users" asp-route-id="@user.Id">Delete</a>
                    </th>
                </tr>
                }



            </tbody>
            </table>
    </div>


