@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model LastTask1.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/LoginRegister.css" rel="stylesheet" />
<style>
    @@media (max-width: 440px) {
        .container {
            margin: 0 !important;
            padding: 0 !important;
        }

        .item {
            margin: 0 !important;
            padding: 0 !important;
            margin-bottom: 10px !important;
        }
    }
</style>
<div class="container d-flex flex-column align-items-center @if(Context.Request.Cookies["theme"] == "light")
{
    @: bg-white
}
" style="box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
													  -webkit-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
													  -moz-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33); background:#2e3035;">

    <div class="tags-cloud w-100 border-bottom @if (Context.Request.Cookies["theme"] == "dark") {@: border-white 
         } d-flex align-items-center" style="height: 50px; overflow-x:hidden; ">
        @foreach (var tag in Model.Tags)
        {
            <div class="tag bg-warning px-3 py-0 mr-2" style="border-radius: 100px/50px;">@tag.Text</div>
        }
    </div>
    <form asp-controller="Account" asp-action="ChangeTheme" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">
        <button type="submit">theme</button>
    </form>

    <p>@Context.Request.Cookies["theme"]</p>

    <h1 class="my-4">@Localizer["topCollect"]</h1>
    <div class="grid w-100">
        <div class="row m-0 p-0">
            @foreach (var collection in Model.Collections)
            {
                <div class="item col-xl-4 col-md-6 col-12 mt-3 mx-0" id="card">
                    <div class="card w-100 d-inline-flex flex-column align-items-center justify-content-between" style="        box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.33);
        -webkit-box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.33);">
                        <img src="@collection.Img" class="w-100">
                        <p class="h3-responsive name">@collection.Title (@collection.nItems)</p>

                        <p class="p-3" style="max-height: 20.5em; overflow: hidden;">
                            @collection.Description
                        </p>

                        <div class="btn-group w-100 d-flex justify-content-center">
                            <form asp-controller="Collection" asp-action="Collection" class="w-100 d-flex justify-content-center h-100">
                                <div class="btn-group w-100">
                                    <button type="submit" name="collectionId" value="@collection.Id" class="btn btn-success p-0 pt-2 pb-2">View</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

    <h1 class="my-4">@Localizer["lastItems"]</h1>
    <div class="grid w-100">
        <div class="row m-0 p-0">
            @foreach (var item in Model.Items)
            {
                <div class="item col-xl-4 col-md-6 col-12 mt-3 mx-0" id="card">
                    <div class="card w-100 bg-white d-inline-flex flex-column align-items-center justify-content-between" style="box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
                                                                      -webkit-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
                                                                      -moz-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);">
                        <img src="@item.ImageUrl" class="w-100">
                        <p class="h3-responsive name">@item.Title</p>

                        <p class="p-3" style="max-height: 20.5em; overflow: hidden;">
                            @item.Description
                        </p>

                        <div class="btn-group w-100 d-flex justify-content-center">
                            <form asp-controller="Item" asp-action="Item" class="w-100 d-flex justify-content-center h-100">
                                <div class="btn-group w-100">
                                    <button type="submit" name="itemId" value="@item.Id" class="btn btn-success p-0 pt-2 pb-2">View</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            }
        </div>
    </div>





</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script>
    var $grid = $('.grid').isotope({
        itemSelector: '.item',
        masonry: {
            columnWidth: '.item'
        }
    });
</script>