@model LastTask1.ViewModels.ItemCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ItemCreate.css" />



<div class="container bg-white shadow">
    <form asp-controller="Item" asp-action="ItemCreate" asp-route-collectionId="@Model.Collection.Id">
        <div class="row  border bg-white" id="wrapper" style="box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
													  -webkit-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);
													  -moz-box-shadow:0px 1px 10px 5px rgba(0,0,0,0.33);">
            <div class="col-lg-4 border-dark border h-100 m-lg-3 mt-lg-5 sticky-top text-center d-flex flex-column align-items-center left-side" id="left-side">
                <h1 class="mt-3 mb-5">Create new item</h1>
                <div id="drag" class="drag w-75 bg-light border border-dark d-flex flex-column justify-content-center align-items-center" style="border-radius: 5%; border-style: dashed !important;">
                    <p id="p-small" class="font-italic " style="display: none; font-size: 30px">Click to choose image</p>
                    <div class="w-100 h-100">
                        <input required type="file" class="w-100 h-100" style="opacity: 0; cursor:pointer;" onchange="upload(this.files[0])" name="">
                    </div>
                    <div class="image-small"></div>
                    <p style="position: absolute; font-size: 20px; font-style: italic" class="w-75 hide">Please, drag your image here</p>
                </div>
                <p class="hide">Collection: animals</p>
                <p class="mb-5 hide">Creater: admin</p>




            </div>

            <div class="col" style="min-height: 90vh">

                <h3 class="pt-5 border-bottom border-dark" id="h3-small">Info about item</h3>

                <div class="md-form form-lg m-5">
                    <input name="Title" required type="text" id="inputLGEx" class="form-control form-control-lg" placeholder="Title">
                </div>
                <div class="md-form form-lg m-5">
                    <input name="Tags" type="text" id="inputLGEx" class="form-control form-control-lg" placeholder="Tags">
                </div>

                <input type="text" id="imgur_link" name="ImageUrl" value="" style="display:none;" />

                <div class="form-group green-border-focus m-5">
                    <label for="exampleFormControlTextarea5">Description</label>
                    <textarea name="Description" required class="form-control" id="exampleFormControlTextarea5" rows="3" style="height: 8em; resize: none;"></textarea>
                </div>



                @foreach (var str in Model.Fields)
                {
                    if (str.Value.Length != 0)
                        switch (str.Key)
                        {
                            case "int":
                                foreach (var val in str.Value)
                                {
                                    <div class="form-group  m-5" style="margin-left: 0%;">
                                        <label for="exampleFormControlInput1">@val</label>
                                        <input type="number" class="form-control" id="Int" name="@val" style="flex: 1;">
                                    </div>
                                }
                                break;
                            case "bool":
                                foreach (var val in str.Value)
                                {
                                    <div class="custom-control md-form form-lg m-5 w-75 d-flex  mr-sm-2" style="margin-left: 12.5%;">
                                        <input type="checkbox" id="Bool" name="@val" style="margin-left: 20px">
                                        <label>@val</label>
                                    </div>
                                }
                                break;
                            case "date":
                                foreach (var val in str.Value)
                                {
                                    <div class="md-form form-lg m-5 d-flex" style="margin-left: 12.5%;">
                                        <input type="date" id="Date" name="@val" class="form-control" mdbInput>
                                        <label for="input">@val</label>
                                    </div>
                                }
                                break;
                            case "str":
                                foreach (var val in str.Value)
                                {
                                    <div class="md-form form-lg m-5">
                                        <input type="text" id="Str" class="form-control form-control-lg" name="@val" placeholder="@val">
                                    </div>
                                }
                                break;
                        }


                }

                <div class="btn-group w-75 mt-2 mb-3" style="margin-left: 12.5%;">
                    <a asp-controller="Collection" asp-action="Collection" asp-route-collectionId="@Model.Collection.Id" class="btn btn-dark">Back</a>
                    <button type="submit" name="goToNew" value="false" class="btn btn-success">Save</button>
                    <button type="submit" name="goToNew" value="true" class="btn btn-success">Save&New</button>
                </div>

            </div>

        </div>

    </form>
</div>
<script type="text/javascript" src="~/js/ImageUpload.js"></script>
